*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono',monospace;
  background-color: rgb(214, 210, 210);
}

h1, p{
  text-align: center;
}

.inputs{
  text-align: center;
  margin-top: 10%;
}

label{
  font-size: 20px;
}

.quantidadeBR{
  width: 70px;
  height: 30px;
  font-size: 20px;
}


